<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/backgrnd/LogoApp.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/group.css">
    <title>LogIn</title>
</head>


<body>
    
    <div class="white">
        <div class="black">
            <div class="green">




                
                <!-- --- foto w ism sayed ---------------- -->
                <div class="hed">

                    <div class="information">

                        <h4>FIND THE SERVICES <br> THAT U ARE LOOKING FOR </h4>
                        <h5>Street , City ,Country   </h5>
                    </div>
                    
                    <img src="/backgrnd/009.jpg" alt="error" >
                </div>

                <!-- --- sersh l5adr  ---------------- -->
                <div class="cont">


                    <div class="serc">
                        <input type="text" placeholder="Search...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>        

                    <div class="btn">
                      <a href="https://amer-3.onrender.com/group?"><button id="a1">بناء</button></a>
                      <a href="https://amer-3.onrender.com/groupHalak?"><button id="a2">حلاق</button></a>
                      <a href="https://amer-3.onrender.com/groupSaback?"><button id="a3">سباك</button></a>
                      <a href="https://amer-3.onrender.com/groupDahan?"><button id="a4">دهان</button></a>
                    </div>
  
  
                <!-- ---ki tzid 3ared ya6la3 hna  ---------------- -->
                
                 
                    <div id="bdy">
                     
                        <div id="jma3a">
                          <img src="/jobs/20.jfif" alt="">
                          <h4>lazhar</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/21.jfif" alt="">
                          <h4>Chahin</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/22.jfif" alt="">
                          <h4>Yousef</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/23.jfif" alt="">
                          <h4>Amin</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/29.jfif" alt="">
                          <h4>Yaakoub</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/25.jfif" alt="">
                          <h4>Imad</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/26.jfif" alt="">
                          <h4>Djamel</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/27.jfif" alt="">
                          <h4>Adel</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/28.jfif" alt="">
                          <h4>salim</h4>
                          <h3>Plumber</h3>
                        </div>
                        <div id="jma3a">
                          <img src="/jobs/29.jfif" alt="">
                          <h4>islam</h4>
                          <h3>Plumber</h3>
                        </div>
                      
                      
                      
                    </div>
             
  
  
  
  
  
  
  



              <!-- ------------------- LIsta LI Lta7et --------------------------------------------------- -->
              <div class="listButon">

                    
                <form action="/home" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-house"></i>
                  </button>
                </form>
             
                <form action="/group" >
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-user-group"></i>
                  </button>
                </form>
                
                <form action="/briefcase" >
                  <button type="submit" id="submit">
                    <i class="fa-solid fa-briefcase"></i>
                  </button>
                </form>

                <form action="/truck" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-truck"></i>
                  </button>
                </form>

                <form action="/phone" >
                  <button type="submit" id="submit">
                      <i class="fa-solid fa-phone"></i>
                  </button>
                </form>
              </div>






                
            </div>
        </div>
    </div>
    
  

    <script src="/js/group.js"></script>
</body>
</html>

