<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="SeeData.css">
    <link rel="icon" href="/backgrnd/LogoApp.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/information.css">
    <title>SeeData</title>
</head>
<body>


    <div class="id-card" >
        
        <div class="id-header"><h2>lazhar</h2></div>
        
        <div class="photo-section"> <img src="/backgrnd/009.jpg" alt="Student Photo" id="photo"></div>

        <div class="id-details">
            <table>
                <tr>
                    <td><strong>First Name :</strong></td>
                    <td>Mohmad Nadiem Eldin</td>
                </tr>
                <tr>
                    <td><strong>Last Name : </strong></td>
                    <td>MEKKAOUI</td>
                </tr>
                <tr>
                    <td><strong>Email :</strong></td>
                    <td>lazhhar@gmail.com</td>
                </tr>
                <tr>
                    <td><strong>Phone :</strong></td>
                    <td>Science and Technology</td>
                </tr>
                <tr>
                    <td><strong>Street : </strong></td>
                    <td>Djalfaa</td>
                </tr>
                <tr>
                    <td><strong>City : </strong></td>
                    <td>Djalfaa</td>
                </tr>
                <tr>
                    <td><strong>Wilaya : </strong></td>
                    <td>Djalfaa</td>
                </tr>
                <tr>
                    <td><strong>Job : </strong></td>
                    <td>develober</td>
                </tr>
                <tr>
                    <td><strong>Age : </strong></td>
                    <td>16</td>
                </tr>
                


            </table>
        </div>

        <div class="qr-section">
           <div class="date">
            unevercity algeria 2024
           </div>
            <img src="/backgrnd/QRcode.png" alt="QR Code">
        </div>

    </div>


</body>
</html>