<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="/backgrnd/LogoApp.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/moto.css" />
    <title>LogIn</title>
  </head>

  <body>


      <div class="white">
         <div class="black">
            <div class="green">
                
              <!-- -----  sahem La5dar Brk ----------------------------------------------- -->
                <div class="header">
                    <form action="/truck">
                        <button>
                          <i class="fa-solid fa-arrow-left"></i>  
                        </button>
                    </form>
                </div>

                
                <h1> Welcom In Cars </h1>

              <!-- ---------- search La5dar -------------- -->
                    <div class="cont">


                        <div class="serc">
                            <input type="text" placeholder="Search...">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        
                    
                    </div>



              <!-- --------------  ma3lomat lcraris Li ta7at ba3ed ------------------------------------- -->

              <div class="al">

                  <form action="/contact" style="cursor: pointer;">

                        <div class="kamel">


                              <div class="hed" >
                                      <button>
                                        <i class="fa-solid fa-arrow-right"></i>  
                                      </button>
                              </div>
                          


                              <div class="ism">
                                <h5 style="color: rgb(67, 199, 155);"> MOTO-Benz </h5>
                                <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                              </div>


                              <div class="imaag">
                                <img src="/cars/moto01.jfif" alt="erooor">
                              </div>
                        
                              


                        </div>

                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);">  MOTO onet Old</h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto02.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> MOTO MediaCenter </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto03.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> MOTO amry </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto04.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>
                <!-- ----------------------------------------------------------------------------------------- -->
                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> MOTO 4Wd </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto05.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>

                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> MOTO Yamaha </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto06.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>


                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> MOTO Vehicles </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto07.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>


                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> MOTO (Nigeria) </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto08.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>


                  <form action="/contact" style="cursor: pointer;">
                    <div class="kamel">

                      
                      <div class="hed">
                          <form action="/truck">
                              <button>
                                <i class="fa-solid fa-arrow-right"></i>  
                              </button>
                          </form>
                      </div>


                      <div class="ism">
                        <h5 style="color: rgb(67, 199, 155);"> moto Malaysia </h5>
                        <h6>متوفرة (للكراء أو الشراء) ,اطلب الان!</h6>
                      </div>


                      <div class="imaag">
                        <img src="/cars/moto09.jfif" alt="erooor">
                      </div>
                
                      


                    </div>
                  </form>



              </div>




            </div>
         </div>
      </div>










  


    </body>
</html>