
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgb(96, 99, 101);
}

.white{
    width: 370px;
    height: 684px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    width: 362px;
    height: 674px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    width: 346px;
    height: 658px;
    margin:  auto;
    border-radius: 4px;
    text-align: center;
    background-color: aliceblue;
    overflow: hidden;
}

.contenar{
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
}
.contenar button{
    color: aliceblue;
    border: none;
    background-color:#006f41;
    margin: 58px 0 0;
    cursor: pointer;
}
.contenar img {
    width: 80px;
    margin: 30% 0  20% 0;
}